@use "../abstract/variables" as variables;

// HERO SECTION MOBILE
.hero {
    display: flex;
    flex-direction: column;
    // border: variables.$debugBorder;
    justify-content: space-between;
    margin-top: 40px;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;

    &__name {
        font-weight: 100;
    }
    

    &__title {
        font-size: clamp(6rem, 1.8182rem + 11.9091vw, 15rem);
        word-break: break-all;
        line-height: 0.8em;
        font-weight: bold;
    }

    &__title--small {
        font-weight: 400;
        font-size: 22px;
    }
    
    @media (min-width:767px) {
        //MEDIA QUERY DESKTOP HERO
        padding: 0 16px 0 16px;

        &__title {
            line-height: 0.8em;
            // font-size: clamp(4rem, 1.8182rem + 10.9091vw, 10rem);
        }

        &__title--small {
            font-size: clamp(2em, 30px, 5em);
        }
    }
    @media screen and (orientation: landscape) {
    }
}

// BIO SECTION
.bio {
    // border: variables.$debugBorder; //border
    margin-top: 100px;
    padding: 0  16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-size: 18px;
        letter-spacing: 0.2rem;
    }

    @media (min-width:767px) {
        margin-top: 150px;
        width: 100%;

        &__title {
            font-size: clamp(3em, 30px, 6em);
        }

        &__box {
            margin-top: 24px;
            padding-top: 24px;
            width: 80%;
        }
    }
    @media (min-width:1024px) {
        margin-top: 160px;
        max-width: 80%;

        &__title {
            font-size: clamp(3em, 30px, 6em);
        }

        &__box {
            margin-top: 24px;
            padding-top: 16px;
            max-width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            font-size: 22px;
            letter-spacing: 0.2rem;
            width: 70%;
        }
    }
}

.word {
    // border: 1px solid saddlebrown;
    width: 100%;
    text-align: center;
    margin-top: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0px;
        margin-bottom: 32px;
        max-width: 350px;
        width: 100%;
        box-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 0.20);
        padding-bottom: 16px;
        height: 380px;
    }

    &__check{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: variables.$colorBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color: variables.$totalWhite;
    }

    &__title {
        font-size: clamp(1.7rem, 24px, 2rem);
        padding: 0;
        font-weight: bold;
        background-color: variables.$colorBlue;
        padding: 8px 16px;
        width: 100%;
        color: variables.$totalWhite;
    }

    &__text {
        padding: 0;
        margin: 0;
        text-align: left;
        letter-spacing: 0.2em;
        width: 80%;
    }

    
    @media (min-width:767px) {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &__box {
            box-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 0.20);
            padding-bottom: 16px;
            width: 100%;
            height: auto;
        }

        &__text {
            font-size: clamp(1.2rem, 20px, 1.5rem);
            letter-spacing: 0;
        }
    }

    @media (min-width:1023px) {
        margin-top: 200px;
        width: 100%;
        flex-direction: row;
        gap: 32px;

        &__box {
            box-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 0.15);
            padding-bottom: 16px;
            max-width: 380px;
            border-radius: 10px 10px 0 0;
            

            &:hover {
                box-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 0.35);
                transform: scale(1.01);
            }
        }
        &__title {
            border-radius: 10px 10px 0 0;
        }
    }
}
