// Variable for style

// IMPORT GOOGLE FONT"Figtree"
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$totalBlack: #000;
$totalWhite: #fff;
$secondaryColor: #06AED5;
$darkSecondaryColor: #018fae;
$fontCustom: "Figtree", sans-serif;
$fontSize: 16px;
$debugBorder: 1px solid salmon;
$radius: 10px;
$piGreco: 3.16px;