@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  position: sticky;
  width: 100%;
  padding: 8px 0 8px 0;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}
.header ul {
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: 100vh;
  align-items: center;
  width: 95%;
}
.header ul li {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
}
.header a {
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 25.28px;
}
.header a:hover {
  color: #06AED5;
  text-decoration: underline;
}
.header .menu {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 16px;
  display: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 999;
  inset: 0;
}
.header #btn-menu {
  display: none;
  width: 100%;
  position: relative;
}
.header #btn-menu:checked ~ .menu {
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.header .menu-icon {
  width: 26px;
  height: 3px;
  background-color: #06AED5;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1001;
}
.header .menu-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 100%;
  height: 100%;
  background-color: #06AED5;
}
.header .menu-icon::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  background-color: #06AED5;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  height: 89dvh;
  max-width: 100dvw;
}
.hero h3 {
  margin: 0;
  padding: 50px 0 0 0;
  font-size: clamp(1em, 20px, 2em);
  font-weight: 200;
  text-align: left;
  color: #000;
}
.hero h1 {
  width: 100%;
  max-width: 98%;
  font-size: clamp(3rem, 25vw, 5.2rem);
  line-height: 1em;
  font-weight: bold;
  text-align: left;
  animation: showAnimation 1.9s ease-in forwards;
  word-break: break-all;
  word-wrap: break-word;
}
.hero h2 {
  font-weight: 200;
  font-size: clamp(1.8em, 24px, 2em);
}
.hero h2 span {
  color: #06AED5;
  font-weight: 400;
}

@keyframes showAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .hero h1 {
    font-size: clamp(10em, 200px, 11em);
  }
}
.project-section {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
}
.project-section p {
  font-size: 20px;
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}
.project-section .btn {
  display: block;
  margin: 16px auto 0;
  align-self: center;
}
.project-section .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.things-text {
  font-size: clamp(2.5em, 40px, 3em);
}
.things-text span {
  color: #06AED5;
}

#animation-word {
  display: none;
}

@media (min-width: 1024px) {
  .project-section {
    margin-top: 130px;
    display: block;
  }
  .project-section .things-text {
    font-size: clamp(3.5rem, 65px, 34em);
    text-align: center;
    padding-top: 50px;
  }
  .project-section .things-text span {
    color: #06AED5;
  }
  .project-section .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .project-section p {
    font-size: 22px;
    width: 40%;
    padding-top: 40px;
  }
  .project-section .btn {
    display: block;
    width: auto;
    height: auto;
    margin: 20px auto 0;
    align-self: center;
  }
  #animation-word {
    display: block;
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 5em;
  }
  #animation-word h3 {
    padding: 10px 24px;
  }
  #animation-word h3 span {
    letter-spacing: 1rem;
    font-weight: bold;
    font-size: 40px;
    opacity: 0;
  }
  #animation-word.is-visible h3 {
    animation: show-word 1s ease-in-out forwards;
    animation-timeline: view(100%);
    padding: 0 16px;
  }
  #animation-word.is-visible h3 #anim-1 {
    animation: show-word 1s ease-in-out forwards;
  }
  #animation-word.is-visible h3 #anim-2 {
    animation: show-word 1s ease-in-out forwards;
    animation-delay: 1.5s;
    color: #06AED5;
  }
  #animation-word.is-visible h3 #anim-3 {
    animation: show-word 1s ease-in-out forwards;
    animation-delay: 2s;
  }
  @keyframes show-word {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      letter-spacing: normal;
    }
  }
}
.about-section {
  height: auto;
  padding-top: 12dvh;
  text-align: center;
}
.about-section h2 {
  font-size: clamp(2.8rem, 8dvw, 3.5rem);
  text-align: left;
  padding-bottom: 5dvh;
}
.about-section h2 span {
  color: #06AED5;
  font-weight: bold;
}
.about-section .center {
  margin: 0 auto;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.about-info h3 {
  font-weight: 700;
  font-size: clamp(2rem, 5dvw, 2.5rem);
}
.about-info h3 span {
  color: #06AED5;
}
.about-info p {
  font-size: 20px;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 5rem;
  margin: 0 auto;
}

#card-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
#card-box .card {
  margin-top: 2dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 10px;
}
#card-box .card img {
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgrey;
  width: 80%;
}
#card-box .card .btn {
  width: auto;
}
#card-box .card .btn a {
  font-size: 16px;
}
#card-box .card h4 {
  color: #06AED5;
  font-size: clamp(1.5em, 2dvw, 3em);
  padding: 0;
  margin: 0;
}

@media (min-width: 767px) {
  #card-box {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #card-box img {
    width: 100%;
    max-width: 400px;
  }
  #card-box .btn {
    max-width: 25%;
  }
  #card-box .btn a {
    font-size: 16px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  height: 100dvh;
}
.form .fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 0;
  margin: 0;
  padding: 0;
}
.form legend {
  color: #06AED5;
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.form label {
  margin-top: 4px;
}
.form input {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #06AED5;
  box-shadow: 0 0 1px #06AED5;
  border-radius: 10px;
}
.form #request-info {
  height: 100px;
  width: 100%;
}

.info-form {
  font-size: 20px;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 5rem;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 50px;
  padding: 8px;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #06AED5;
  cursor: pointer;
}
.btn:hover {
  background-color: #018fae;
  transition: 0.3s ease-in-out;
}
.btn a {
  color: #fff;
}

.btn.center {
  margin-left: auto;
  margin-right: auto;
}

#footer {
  position: relative;
  z-index: 1002;
  margin-top: auto;
  padding: 0;
  width: 100%;
  flex-shrink: 0;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.box-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
}
.box-footer img {
  max-width: 100px;
  height: 50%;
}

.menu-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: #000;
  list-style-type: none;
}
.menu-footer li {
  padding-top: 5px;
}
.menu-footer a {
  text-decoration: none;
  color: #000;
}

.box-info-footer {
  font-size: 10px;
  color: #000;
  text-align: center;
  padding-top: 10px;
}
.box-info-footer a {
  color: #000;
  font-size: 12px;
}

p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

li {
  font-size: 0.8rem;
  font-weight: 500;
  font-weight: bold;
}

.cv-section {
  margin-top: 5dvh;
  width: 100%;
  font-size: 16px;
}
.cv-section h2 span {
  font-weight: bold;
  color: #06AED5;
}
.cv-section h5 {
  margin: 0;
  padding: 0;
  color: black;
}
.cv-section .cv-title {
  font-size: 2rem;
}
.cv-section .box-cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cv-section .box-cv aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.cv-section .box-cv aside img {
  width: 30%;
  height: 0 auto;
  border-radius: 50%;
}
.cv-section .box-cv .info-cv {
  padding: 8px;
  width: 100%;
}
.cv-section .box-cv .informations {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
.cv-section .box-cv .work-experiences li {
  font-size: 0.8rem;
  font-weight: 500;
}
.btn {
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#grid-container {
  flex: 1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0 auto;
  padding: 0 9.48px 0 9.48px;
  box-sizing: border-box;
}
.spacer {
  height: 100px;
  flex: 0 0 clamp(48px, 8vh, 100px);
  width: 100%;
}

.footer-spacer {
  display: none;
}

@media (min-width: 767px) {
  #grid-container {
    max-width: 1600px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */