// MAIN SCSS STYLE SITE

// IMPORT VARIABLES
@use "../scss/abstract/variables";

// IMPORT HEADER STYLE
@use "./sections/header";

// IMPORT HOME_PAGE STYLE
@use "../scss/sections/homePage";
// IMPORT ABOUT_PAGE STYLE


// IMPORT PROJECT_PAGE STYLE


// IMPORT CONTACT_PAGE STYLE


// BUTTON COMPONENT STYLE
@use "./components/button";

// FOOTER STYLE


// CV PAGE IMPORT


// SOCILA LSTYLE

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 16px 8px 8px 8px;
    font-family: variables.$fontFamily;
}
.flex_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: variables.$totalBlack;
}

.blue__color {
    color: variables.$colorBlue;
    font-weight: 500;
}

// FOOTER SECTION
.footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__social__box {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .social__image {
        width: 30px;
    }

    &__box__menu {
        margin-top: 32px;
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
        }
    }

    &__menu {
        // border: 1px solid salmon;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
    }

    &__box__info {
        width: 100%;
        margin-top: 8px;
        font-size: 12px;
        padding: 8px;
    }

    @media (min-width:767px) {
        padding: 0 16px;
        width: 100%;
        justify-content: space-between;

        &__menu {
            font-size: 14px;
            padding: 0  16px;
        }

        &__box__info {
            width: 100%;
            margin-top: 8px;
            font-size: 16px;
            padding: 8px;
            text-align: center;
        }
    }
    @media (min-width:1024px) {
        width: 50%;
        
        &__menu {
            // border: 1px solid salmon;
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 18px;
        }
    }
}

